:root {
  --ball-end-x-position: 0px;
  --ball-end-y-position: 0px;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.sections-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.block1 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100px;
  height: 100px;
  margin: 0px 50px;
  color: #fff;
  background-color: #00b4cc;
  animation: moveUpDown 5s infinite alternate;
}

.block2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100px;
  height: 100px;
  margin: 0px 50px;
  color: #fff;
  background-color: #00b4cc;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}

.start-button {
  width: 100px;
  text-align: center;
  border-radius: 15px;
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: #000000;
  color: #fff;
  border: none;
}

.start-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.start-button:disabled {
  opacity: 0.7;
  cursor: default;
}

.ball {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #00ff37;
  position: absolute;

  animation: ballAnimation 5s;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes ballAnimation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(var(--ball-end-x-position), var(--ball-end-y-position));
  }
}
